.todoContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.todoText {
  width: 80%;
}
.boxCheckbox {
  width: 15px;
  height: 15px;
  border: 1px solid #301212;
  border-radius: 5px;
}
.color {
  background-color: aqua;
}