.formContainer{
  width: 100%;
  position: relative;  

}
.formContainer form {
  display: flex;
}
.form {
  width: 100%;
  border: 1px solid #7b8ceb;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  padding: 8px 16px;
  margin-right: 5px;
}
.button {
  border: 0px;
 border-radius: 5px;
 cursor: pointer;
}